@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
}


   .app {
    background-image: linear-gradient( #1d07e2d7 0%, #08eaf2a2 100%);
    background-size: 200% 200%;
    animation: gradientTransition 5s ease infinite;
  }
  
  @keyframes gradientTransition {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .light {
    background-image: linear-gradient(135deg, #120b98 10%, #0560fdb8 50%, #08f2c3a2 100%);
    color: #ffffff;
  }
  
  .dark {
    background-image: linear-gradient(135deg, #070139 0%, #012736 50%, #033315 100%);
    color: #ffffff;
  }
 .image-frame{
  height: 200px;
  overflow: hidden;
  cursor: pointer;
 }
 .image-frame img{
  object-fit: cover;
  width: 100%;
  transform: translateY(0);
  transition: 3s ease-in-out;
 }
 .image-frame:hover img{
  object-fit: cover;
  transform: translateY(calc(-100% + 200px));
  transition: 4s ease-out;
 }